.container{
	width: 80%;
	height: 450px;
    text-align: center;
    margin: 80px auto;
    padding: 20px 20px;
    box-shadow: 2px 2px 10px #888;
    background: url(images/airr.jpg);
    padding_bottom:70px;
    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    border-radius: 7px 7px 7px 7px;
}

.title{
	font-weight: bold;
    font-family: cursive;
    font-size: large;
    background-color: tan;
     padding-bottom: 20px;
    font-size: x-large;
    text-align: center;
    -webkit-text-stroke: thin;
    text-decoration-line: underline;
    text-decoration-style: double;
}
.fieldset legend{
    border: 1px solid #e0e0e0 !important;
    background: #ea5e0d !important;
    margin-top: -20px;
    margin-bottom: -21px;
    color: white !important;
    box-shadow: 1px 1px 2px #000000;
    text-shadow: 1px 1px 1px #333333 !important;
    font-weight: normal !important;
    font-style: normal !important;
}
.inputfield{
	padding-top: 20px;
    font-family: cursive;
    font-size: initial;
}
legend{
	font-family: cursive;
    font-size: medium;
}
#inputfield{
	background-color: moccasin;
}